Employee_Desktop/Connected Services/ServiceReference1/TheWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempurideya.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempurideya.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempurideya.org/">
      <s:element name="login_employee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="login_employeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="login_employeeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="submit_holiday_request">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="holiday_start" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="holiday_end" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="days_exceeded" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="head_depHead_absent" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="seniorStaff_absent" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Department_absent" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="holiday_status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="submit_holiday_requestResponse">
        <s:complexType />
      </s:element>
      <s:element name="get_outstanding_holiday_requests_for_employee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_outstanding_holiday_requests_for_employeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_outstanding_holiday_requests_for_employeeResult" type="tns:ArrayOfHolidays" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHolidays">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Holidays" nillable="true" type="tns:Holidays" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Holidays">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Employee_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Holiday_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Holiday_start" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Holiday_end" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Holiday_status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Days_exceeded" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Head_depHead_absent" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="department_Absent" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="SeniorStaff_absent" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="submit_holiday_with_constraint_checking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emp_email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="holiday_start" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="holiday_end" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="submit_holiday_with_constraint_checkingResponse">
        <s:complexType />
      </s:element>
      <s:element name="prioritise_holiday_request">
        <s:complexType />
      </s:element>
      <s:element name="prioritise_holiday_requestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prioritise_holiday_requestResult" type="tns:ArrayOfHolidays" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="login_employeeSoapIn">
    <wsdl:part name="parameters" element="tns:login_employee" />
  </wsdl:message>
  <wsdl:message name="login_employeeSoapOut">
    <wsdl:part name="parameters" element="tns:login_employeeResponse" />
  </wsdl:message>
  <wsdl:message name="submit_holiday_requestSoapIn">
    <wsdl:part name="parameters" element="tns:submit_holiday_request" />
  </wsdl:message>
  <wsdl:message name="submit_holiday_requestSoapOut">
    <wsdl:part name="parameters" element="tns:submit_holiday_requestResponse" />
  </wsdl:message>
  <wsdl:message name="get_outstanding_holiday_requests_for_employeeSoapIn">
    <wsdl:part name="parameters" element="tns:get_outstanding_holiday_requests_for_employee" />
  </wsdl:message>
  <wsdl:message name="get_outstanding_holiday_requests_for_employeeSoapOut">
    <wsdl:part name="parameters" element="tns:get_outstanding_holiday_requests_for_employeeResponse" />
  </wsdl:message>
  <wsdl:message name="submit_holiday_with_constraint_checkingSoapIn">
    <wsdl:part name="parameters" element="tns:submit_holiday_with_constraint_checking" />
  </wsdl:message>
  <wsdl:message name="submit_holiday_with_constraint_checkingSoapOut">
    <wsdl:part name="parameters" element="tns:submit_holiday_with_constraint_checkingResponse" />
  </wsdl:message>
  <wsdl:message name="prioritise_holiday_requestSoapIn">
    <wsdl:part name="parameters" element="tns:prioritise_holiday_request" />
  </wsdl:message>
  <wsdl:message name="prioritise_holiday_requestSoapOut">
    <wsdl:part name="parameters" element="tns:prioritise_holiday_requestResponse" />
  </wsdl:message>
  <wsdl:portType name="TheWebServiceSoap">
    <wsdl:operation name="login_employee">
      <wsdl:input message="tns:login_employeeSoapIn" />
      <wsdl:output message="tns:login_employeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="submit_holiday_request">
      <wsdl:input message="tns:submit_holiday_requestSoapIn" />
      <wsdl:output message="tns:submit_holiday_requestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_outstanding_holiday_requests_for_employee">
      <wsdl:input message="tns:get_outstanding_holiday_requests_for_employeeSoapIn" />
      <wsdl:output message="tns:get_outstanding_holiday_requests_for_employeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="submit_holiday_with_constraint_checking">
      <wsdl:input message="tns:submit_holiday_with_constraint_checkingSoapIn" />
      <wsdl:output message="tns:submit_holiday_with_constraint_checkingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="prioritise_holiday_request">
      <wsdl:input message="tns:prioritise_holiday_requestSoapIn" />
      <wsdl:output message="tns:prioritise_holiday_requestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TheWebServiceSoap" type="tns:TheWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login_employee">
      <soap:operation soapAction="http://tempurideya.org/login_employee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submit_holiday_request">
      <soap:operation soapAction="http://tempurideya.org/submit_holiday_request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_outstanding_holiday_requests_for_employee">
      <soap:operation soapAction="http://tempurideya.org/get_outstanding_holiday_requests_for_employee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submit_holiday_with_constraint_checking">
      <soap:operation soapAction="http://tempurideya.org/submit_holiday_with_constraint_checking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="prioritise_holiday_request">
      <soap:operation soapAction="http://tempurideya.org/prioritise_holiday_request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TheWebServiceSoap12" type="tns:TheWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login_employee">
      <soap12:operation soapAction="http://tempurideya.org/login_employee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submit_holiday_request">
      <soap12:operation soapAction="http://tempurideya.org/submit_holiday_request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_outstanding_holiday_requests_for_employee">
      <soap12:operation soapAction="http://tempurideya.org/get_outstanding_holiday_requests_for_employee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submit_holiday_with_constraint_checking">
      <soap12:operation soapAction="http://tempurideya.org/submit_holiday_with_constraint_checking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="prioritise_holiday_request">
      <soap12:operation soapAction="http://tempurideya.org/prioritise_holiday_request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TheWebService">
    <wsdl:port name="TheWebServiceSoap" binding="tns:TheWebServiceSoap">
      <soap:address location="http://localhost:63391/TheWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="TheWebServiceSoap12" binding="tns:TheWebServiceSoap12">
      <soap12:address location="http://localhost:63391/TheWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>