Employee_WebApp/Connected Services/WebAppServiceReference/TheWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempurideya.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempurideya.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempurideya.org/">
      <s:element name="login_employee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="login_employeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="login_employeeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="submit_holiday_request">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="holiday_start" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="holiday_end" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="days_exceeded" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="head_depHead_absent" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="seniorStaff_absent" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Department_absent" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="submit_holiday_requestResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="login_employeeSoapIn">
    <wsdl:part name="parameters" element="tns:login_employee" />
  </wsdl:message>
  <wsdl:message name="login_employeeSoapOut">
    <wsdl:part name="parameters" element="tns:login_employeeResponse" />
  </wsdl:message>
  <wsdl:message name="submit_holiday_requestSoapIn">
    <wsdl:part name="parameters" element="tns:submit_holiday_request" />
  </wsdl:message>
  <wsdl:message name="submit_holiday_requestSoapOut">
    <wsdl:part name="parameters" element="tns:submit_holiday_requestResponse" />
  </wsdl:message>
  <wsdl:portType name="TheWebServiceSoap">
    <wsdl:operation name="login_employee">
      <wsdl:input message="tns:login_employeeSoapIn" />
      <wsdl:output message="tns:login_employeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="submit_holiday_request">
      <wsdl:input message="tns:submit_holiday_requestSoapIn" />
      <wsdl:output message="tns:submit_holiday_requestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TheWebServiceSoap" type="tns:TheWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login_employee">
      <soap:operation soapAction="http://tempurideya.org/login_employee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submit_holiday_request">
      <soap:operation soapAction="http://tempurideya.org/submit_holiday_request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TheWebServiceSoap12" type="tns:TheWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login_employee">
      <soap12:operation soapAction="http://tempurideya.org/login_employee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submit_holiday_request">
      <soap12:operation soapAction="http://tempurideya.org/submit_holiday_request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TheWebService">
    <wsdl:port name="TheWebServiceSoap" binding="tns:TheWebServiceSoap">
      <soap:address location="http://localhost:63391/TheWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="TheWebServiceSoap12" binding="tns:TheWebServiceSoap12">
      <soap12:address location="http://localhost:63391/TheWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>